<form [formGroup]="formularioLoguin" novalidate class="abs-center">
    <br><br>
    <div class="card bg-dark card-block col-sm-8 ">
        <div class="form-group">
            <h3>Introduzca el usuario:</h3>
            <input type="text" 
            class="form-control form-control-lg"
            formControlName="txtNombreUsuario"
            >
            <h3>Introduzca la contraseña:</h3>
            <input type="text" 
            class="form-control form-control-lg"
            formControlName="txtContraseña"
            >
            <br>
            <p class="text-danger" *ngIf="(!formularioLoguin.controls['txtNombreUsuario'].valid || !formularioLoguin.controls['txtContraseña'].valid) && (!formularioLoguin.controls['txtNombreUsuario'].dirty || !formularioLoguin.controls['txtContraseña'].dirty)">Introduce el nombre de usuario y la contraseña</p>
            <button (click)="iniciarSesion()" class="btn btn-outline-success">Iniciar sesion</button>
        </div>
        

    </div>


</form>
