
<form novalidate class="abs-center">
    <br><br>
    <div class="card bg-dark card-block col-sm-8 ">
        <div class="form-group">
            <h4>Añade un titulo:</h4>
            <input type="text" 
            class="form-control form-control-lg"
            formControlName="nombreUsuario"
            >
            <h4>Escriba el contenido:</h4>
            <textarea rows="7" cols="50"
            class="form-control form-control-sm"
            formControlName="contenido"
            ></textarea>
            <br>
            <button routerLink="/" class="btn btn-outline-danger">Cerrar sesion</button>
        </div>
        

    </div>


</form>


